.exp_chart{
  padding-left: 0px!important;
  padding-right: 0px!important;  
  overflow-y: hidden;
  }
.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}
.grid path {
  stroke-width: 0;
}
.exp_chart_clicked{
fill:rgb(247, 252, 185)!important;
}
.features{
  fill: #858585;
}
